<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQLCiperSpeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D040D901F9E6339006B110D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D040DA91F9E633B006B110D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D040DB41F9E633B006B110D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
